.vs/
.venv/
.vscode/
.idea/
.git/

build/
dist/
artifacts/
package-temp/
test/
Output/
OJAssistant/chrome/chrome_test/node_modules/

web/educoder/css
web/educoder/images
web/educoder/static
__pycache__/

OJ助手.spec
OJAssistant.spec