pyinstaller==6.17.0
keyboard==0.13.5
PyAutoGUI==0.9.54
requests==2.32.5
psutil==7.1.3
pystray==0.19.5
pillow
pywin32==311; platform_system == "Windows"
pyperclip==1.11.0
qrcode==8.2
websockets==11.0
openai==2.9.0
aiohttp==3.13.2
colorama==0.4.6
cryptography==46.0.3
selenium==4.39.0